.top {
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titles {
  line-height: 12px;
  text-align: center;
}

h1,
p {
  font-family: 'Montserrat', sans-serif;
}

.title {
  font-size: 55px;
}

p {
  font-style: italic;
  font-size: 22px;
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 32px;
  }

  p {
    font-size: 10px;
  }
}
